/* #about-me{
    position: relative;
} */

.about-me-subtitle{
    /* height: 0px; */
    /* position: absolute;
    top: 0%; */
    color: black;
    font-size: 50px;
    margin: 20px 0px;
    /* animation: slider 10s; */
}

.about-me-details {
    display: flex;
    justify-content: center;
}

.about-me-overview{
    height: 10px;
    text-align: justify;
    max-width: 1200px;
}

/* @keyframes slider {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0%;
    }
} */
