.project-img-container{
    position: relative;
    max-width: 830px;
    /* min-height: 300px; */
}

.layer{
    background-color: rgba(0,0,0,0.5);
    /* background-color: black; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -5;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer:hover{
    opacity: 1;
}

.project-subtitle{
    color: rgb(128, 128, 128);
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
    max-width: 830px;
    text-align: justify;
}

.project-title {
    font-weight: 500;
    font-size: 35px;
}

.project-summary {
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0px;
    max-width: 830px;
    text-align: justify;
}

.project-description{
    border-radius: 8px;
    padding: 20px 10px;
    font-size: 18px;
    /* position: absolute;
    left: 40%;
    bottom: 40%; */
    opacity: 0;
    transition: opacity 0.5s;
}

.project-img-container:hover .project-description{
    opacity: 1;
}

.project-links{
    margin-bottom: 100px;
}

.project-tags{
    display: flex;
    column-gap: 3%;
}

.tech-tag {
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 14px;
}